nav {
    font-size: 1rem;
    top: 0;
    left: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #132980;
    width: 100%;
    position: fixed; 
}

nav a {
    color: #fafdff;
    text-decoration: none;
    margin: 0 20px;
    position: relative; 
    text-transform: uppercase; 
    display: inline-block;
}

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #FFCD78;
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width: 100%;
}

a:nth-child(1){
    width: 90px;
}

a:nth-child(2){
    width: 120px;
}

a:nth-child(3){
    width: 140px;
}

a:nth-child(4){
    width: 120px;
}

