#projetos {
    justify-content: space-between; /* Distribui os itens uniformemente ao longo do eixo principal, mantendo cada projeto em cada lado */
    align-items: center; /* Centraliza verticalmente os itens */
    background-color: #fafdff;
    height: auto;
    font-size: 1rem;
    margin: 10% auto; /* Aumentando a margem superior */
    max-width: 1500px; /* Máximo de largura da tela */
    padding: 0 1rem; /* Espaçamento interno para manter o conteúdo centralizado */
}

.flex{
    display: flex;
}

.titulo-projetos{
    text-align: center;
    font-size: 2.5rem;
    color: #132980
}


.vazio{
    height: 5rem;
}


.projeto {
    flex: 1; /* Ocupa a mesma largura */
    padding: 0 1rem; /* Espaçamento interno */
    margin: 0 0.5rem; /* Espaçamento externo entre os projetos */
    display: flex;
    flex-direction: column; /* Coloca os elementos internos em uma coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    
}



.projeto img {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 500px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.titulo-projeto1, .titulo-projeto2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    color: black;
}

.texto-projeto1, .texto-projeto2 {
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}

.ver-mais {
    margin-top: 2rem;
    padding: 1.2rem 5rem;
    color: #132980;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px #132980 solid;
    background-color: #fafdff;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.3s; /* Adicionando transição */
}

.ver-mais:hover {
    background-color: #132980;
    color: #fafdff;
}

.destaque{
    font-weight: bold;
}





